/**
 First External CSS Stylesheet
 **/

/*
Each of these CSS elements is associated with an HTML Element, Class, or ID.
Flip between this CSS file and the HTML to see how things line up.
Experiment with deleting lines of code from the CSS to see how it affects the webpage when you refresh in the browser.
*/
a{
  text-decoration: none;
}
hr{
  color: #777777;
  border-bottom: #777777 5px;

}
#container{
  width: 960px;
  margin: 0px auto;
}

#title{
  margin: auto 0px;
  line-height: 60px;
}

.info{
  padding-top: 20px;
  float: right;
  margin: auto;
}

#name{
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #4aaaa5;
  color: #eee;
  margin: 0px;
  height: 60px;
}
#contact{
  color: #777777;
  font-size: 20px;
  padding: 5px;
}

#portfolio{
  color: #777777;
  font-size: 20px;
  padding: 5px;
}

#about{
color: #777777;
font-size: 20px;
padding: 5px;
}

#topheader {
  padding: 0;
  margin: 0;
  background-color: white;
  width: 100%;
  border-bottom-style: solid; 
  border-bottom-color: #777777;
  height: 60px;
}

body {
  background-color: rgb(220, 228, 231);
}

h2 {
  color: #4aaaa5;
  font-size: 30px;
  padding-top: 20px;
  padding-left: 40px;
}

hr {
  margin-top: 20px;
}

#contents {
  background-color: #ffffff;
  border-color: #303030;
  margin: 100px auto;
  padding: auto;
  width: 960px;
  padding-bottom: 30px;
}
.photo {
  float: left;
 margin-left: 25px;
 width: 200px;
 padding-right: 20px;
 }

#main-bio {
  background-color: white;
  color: #777777;
  font-size: 22px;
  line-height: 24px;
  padding-left: 20px;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0px;
  color: white;
  background-color: #666666;
  height: 50px;
  width: 100%;
  border-top-style: solid; 
  border-top-color: #4aaaa5;
  text-align: center;
}